/* *, body, html{
    letter-spacing: -1px;
    font-family: -apple-    system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
} */
.root{
    --red: #E42C04;
    --primary: #05145A !important;
    --primary-hover: rgb(5, 25, 117);
    --primary-disbabled: #93a5fd;
    --danger: #cc0f35;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.x-font-400{
    font-weight: 400;
}

.x-font-500{
    font-weight: 500;
}

.x-font-600{
    font-weight: 600;
}

.x-font-700{
    font-weight: 700;
}

.side-container{
  overflow-x: scroll !important; overflow-y: hidden !important; min-height: 60px !important;
}

/* width */
.side-container::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
.side-container::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.side-container::-webkit-scrollbar-thumb {
  background: rgb(219, 219, 219);
}

/* Handle on hover */
.side-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}








.x-shadow{
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1) ;
  }

.x-text-dark{
    color: rgb(136, 135, 135);
}

.x-text-dark-light{
    color: rgb(156, 156, 156);
}


input.form-control:focus, input.input:focus{
    box-shadow: none !important;
    border-color:lightgrey;
}

.x-notification {
    position: relative;
    display: inline-block;
    text-align: center;
    -webkit-transition: all .5s; 
    transition: all .5s;
  }
  
  .x-notification:hover .x-badge{
     transform: scale(1.01);
     font-size: 12.5px;
     width: 19px;
     height: 19px;
  }
  
  .x-notification .x-badge {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 18px;
    height: 18px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 50%;
    background: var(--red);
    color: white;
  }

  
.x-text-primary{
    color: var(--primary);
}

.x-bg-primary{
  background: var(--primary) !important;
}

.x-noround{
  border-radius: 0px !important;
}

.x-btn-primary{
  background: var(--primary) ;

}
.x-btn-primary:active{
  background: var(--primary-hover) !important;
}

.x-bg-light{
  background-image: linear-gradient(90deg, rgb(240, 240, 240), rgb(240, 240, 240));
  font-weight: 500 !important;
}

  

*{
    color: rgb(90, 89, 89);
}

@media(max-width: 600px){
  .side-container::-webkit-scrollbar {
    height: 0px;
  }
  
}

